:root {
  --primary-color: #155263;
  --box-shadow: 10px 11px 7px rgba(0, 0, 0, 0.3);
  --border-radius: 6px;
  --text-decoration: none;
}

body{
  
  
  background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}

.lorem{
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

#contact-me {
  background: var(--primary-color);
  margin: 20px;
  padding: 20px;
  color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-decoration: var(--text-decoration);
}

#contact-me:hover{
  background: white;
  color: var(--primary-color);

}
#about-me {
  background: whitesmoke;
  text-decoration: var(--text-decoration);
  padding: 20px;
  margin: 20px;
  color: var(--primary-color);
  border-radius: var(--border-radius);
}
#about-me:hover{
  background: var(--primary-color);
  color: whitesmoke;
}
.data {
  display: flex;
  margin: 30px 0;
}

.data p {
  background: whitesmoke;
  margin: 10px;
  padding: 20px;
}
h4 {
  text-align: center;
}
#email {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
}
.yoga{
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}
.yoga:hover{
  color: var(--primary-color);
  background: white;
}
.weather-app{
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}
.weather-app:hover{
  color: var(--primary-color);
  background: white;
}

.midwifery-link{
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}

.midwifery-link:hover{
  color: var(--primary-color);
  background: white;
}