:root {
  --primary-color: #155263;
  --box-shadow: 10px 11px 7px rgba(0, 0, 0, 0.3);
  --border-radius: 6px;
  --text-decoration: none;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: font-family: "Playfair Display", serif;
  --secondary-color: #7ed321;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: var(--secondary-font);
}
header {
  background: #f5f1fe;
  margin-top: 70px;
}

.lorem {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: var(--primary-font);
}
h3 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 48px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#contact-me {
  background: var(--primary-color);
  margin: 20px;
  padding: 20px;
  color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-decoration: var(--text-decoration);
}

#contact-me:hover {
  background: white;
  color: var(--primary-color);
}
#about-me {
  background: whitesmoke;
  text-decoration: var(--text-decoration);
  padding: 20px;
  margin: 20px;
  color: var(--primary-color);
  border-radius: var(--border-radius);
}
#about-me:hover {
  background: var(--primary-color);
  color: whitesmoke;
}
.data {
  display: flex;
  margin: 30px 0;
}

.data p {
  background: whitesmoke;
  margin: 10px;
  padding: 20px;
}
h4 {
  text-align: center;
}
#email {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
}
.yoga {
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}
.yoga:hover {
  color: var(--primary-color);
  background: white;
}
.weather-app {
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}
.weather-app:hover {
  color: var(--primary-color);
  background: white;
}

.midwifery-link {
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
}

.midwifery-link:hover {
  color: var(--primary-color);
  background: white;
}
.text-center {
  font-size: 96px;
}
@media (max-width: 800px){
  img{
    display: none;
  }
  p{
    text-align: center;
  }
  footer{
    padding: 6px;
  }
}
.contact-box{
  background: rgba(65, 113, 13, 0.5);

}
footer .social-links a{
  margin: 0 20px;
  color: var(--primary-color);
  background: rgba(65, 113, 13, 0.5);
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 18px;
}

footer .social-links a:hover{
  background: var(--primary-color);
  color: rgba(65, 113, 13, 0.5);
  cursor: pointer;
}

nav a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 18px;


}
.container{
  box-sizing: border-box;
}
nav a:hover{
  color: var(--secondary-color)
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
  
}
nav ul li{
  margin: 0px 2px;
  
}
nav ul li .active{
  color: var(--secondary-color);
}
h1 .text-start{
  font-family: var(--secondary-font) !important;
  font-size: 80px;
  line-height: 80px;
}
div ul li a .active{
  color: var(--secondary-color);
}
form{
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0px 10px 10px 10px;
}

form .form-contents{
  padding: 15px;
}
.button{
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  background: rgba(65, 113, 13, 0.5);
  color: var(--primary-color);
}
.button:hover{
  color: rgba(65, 113, 13, 0.5);
  background: var(--primary-color);
}
@media(max-width:900px) {
  .container{
    padding: 15px;
  }
  

}